.forms {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 8px;
   
}
.forms input{
    width: 270px;
   margin-top: 10px;
   padding: 10px;
}